* {
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  color: seashell;
}

body {
  background-color: black;
}

/*começo nav-bar*/

.navigation-bar {
  width: 100%;
  height: 69px;
  display: flex;
  background-color: black;
  font-size: 1.375rem;
  height: 4.313rem;
  border-bottom: 1px solid seashell;
  text-align: center;
  position: fixed;
  flex-direction: row;
  padding: 1vw 10px;
  justify-content: space-between;
}

.navigation-logo {
  margin: auto 50px auto 10px;
}

.navigation-logo img {
  width: auto;
  height: 50px;
}

.navigation-list {
  align-content: center;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  justify-content: flex-start;
}

ul li {
  list-style: none;
  text-decoration: underline;
  display: inline;
  margin: auto 10px;
}

/*fim do nav-bar e começo do mission-menu*/

.mission-menu {
  width: 1200px;
  height: 700px;
  background-image: url(assets/img/img-mission-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.mission {
  background-color: black;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 10px;
  line-height: 2;
  font-weight: bolder;
  font-size: 22px;
}

/*fim do mission menu e começo do featured-menu*/

#teas {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#teas .teas-cozy {
  width: 1000px;
  padding: 20px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

#teas .teas-cozy-2 {
  width: auto;
  display: inline-flex;
  justify-content: space-between;
  padding: 10px;
}

#teas .teas-cozy img {
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
}

#teas .teas-cozy-2 img {
  width: 300px;
  height: 200px;
  margin: auto 16px 10px;
}

/*fim da seção tea, inicio da seção location*/

#locations {
  width: 1200px;
  height: 500px;
  background-image: url(assets/img/img-locations-background.jpg);
  background-position: top;
  background-size: cover;
  margin: 50px auto 10px;
}

#locations .location-title h2 {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 15px;
}

#locations .location-box {
  display: flex;
  text-align: center;
  justify-content: center;
}

#locations .location-box-1,
.location-box-2,
.location-box-3 {
  background-color: black;
  margin: auto 20px;
  width: 300px;
  height: auto;
  opacity: 1;
}
/*fim do locations menu e inicio do contatos menu*/

#contact-us {
  height: 200px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
/*fim do contatos menu e inicio do footer*/

footer {
  text-align: left;
  margin: 20px;
}
footer a {
  text-decoration: underline;
}
